{% extends 'base.html' %}
{% load static %}


{% block navbar %}
<div class="topnav">
  		<a   href="/home/">Home</a>
      <a   href="/item/">Popular Items</a>
    <a  href="/about/">About</a>
    <a href=""> Sell Item </a>
    <a href="/top_seller_view/"> Top Sellers </a>
</div>
{% endblock %}



{% block content %}


<div class="jumbotron text-xs-center">
  <h1 class="display-3">Your item has been Return!</h1>
  <p class="lead"><strong>You can check items, through your order</strong> </p >
    <hr>
  
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/home/" role="button">Continue to homepage</a >
 </p >
</div>



{% endblock %}
