{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Thanks register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">

			

            <div class= "title">
                    <h2>Thank You for Joining Us! </h5>
                        
                    <h2>Now You Can Login with Your Account!</h5>
            </div>
            
					<div class="container-login100-form-btn m-t-32">
                            
						<a class="login100-form-btn" href="/login/">
							Go to Login
                        </a>
					</div>

				
			
		</div>
	</div>
	


	


</body>
</html>